target
**/*.iml
.idea
**/__pycache__
**/*.pyc
.cache
out/
build/
.gradle/
csharp/Lift.sln.DotSettings.user
csharp/Lift/LiftSystemTest.IdleLift_FulfilsRequest.received.txt
csharp/Lift/LiftSystemTest.IdleLift_FulfilsRequest_InTwoTicks.received.txt
